:root {
  --text-color: #212121;
  --theme-color: #e5e5e5;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #2f303a;
  --black-color: #000000;
  --whiter-color: #f5f4fa;
  --silver-color: #757575;
  --portfolio-div-color: #eeeeee;
  --border-bottom: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white-color);
  color: var(--text-color);
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0%;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.index {
  text-decoration: none;
  color: inherit;
}
.portfolio {
  text-decoration: none;
  color: inherit;
}
.contact {
  text-decoration: none;
  color: inherit;
}
.e-mail {
  text-decoration: none;
  color: inherit;
}

.logo-footer {
  text-decoration: none;
  color: inherit;
}
.footer-info {
  text-decoration: none;
  color: inherit;
}

.logo:hover,
.logo:focus {
  color: var(--blue-color);
}
.index:hover,
.index:focus {
  color: var(--blue-color);
}
.portfolio:hover,
.portfolio:focus {
  color: var(--blue-color);
}
.contact:hover,
.contact:focus {
  color: var(--blue-color);
}
.e-mail:hover,
.e-mail:focus {
  color: var(--blue-color);
}
.telephone:hover,
.telephone:focus {
  color: var(--blue-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--blue-color);
}
.footer-info:hover,
.footer-info:focus {
  color: var(--blue-color);
}
.main-button:hover,
.main-button:focus {
  background: var(--blue-color);
  color: var(--white-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--blue-color);
  color: var(--white-color);
}

.main-header {
  display: flex;
  justify-content: center;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  background: var(--white-color);
  border-bottom-color: var(--border-bottom);
  border-bottom-width: 1px;
}

.navigation-ul {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-addres-li {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 32px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.address-footer {
  color: var(--white-color);
  font-size: 14px;
  margin-top: 20px;
  padding-bottom: 60px;
}

.main-div {
  background: var(--grey-color);
}

.main-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-left: 237px;
  padding-top: 200px;
  padding-right: 237px;

  color: var(--white-color);
}

.main-button {
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;

  margin-left: 485px;
  margin-bottom: 200px;

  /*margin: 30px 485px 200px 700px;*/
}

.portfolio-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px 6px 22px;
}
.main-footer {
  background: var(--grey-color);
  padding-top: 60px;
}

.web {
  color: var(--blue-color);
}
.studio {
  color: var(--black-color);
}

.studio-footer {
  color: var(--white-color);
}

.what-to-do-h2 {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.team-h2 {
  font-size: 36px;
  line-height: 1.16;
}

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: inherit;
  padding-top: 24px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.e-mail {
  left: 1078px;
  top: 32px;
  color: var(--silver-color);
  font-size: 14px;
  line-height: 1.14;
}

.telephone {
  top: 32px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 1.14;
  color: var(--silver-color);
}

.index {
  left: 453px;
  top: 32px;

  font-size: 14px;
  line-height: 1.14;
}
.portfolio {
  left: 552px;
  top: 32px;

  font-size: 14px;
  line-height: 1.14;
}
.contact {
  left: 656px;
  top: 32px;

  font-size: 14px;
  line-height: 1.14;
}

.portfolio-main-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-button {
  left: 700px;
  top: 430px;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  top: 9px;
  padding-inline-start: 0%;
  font-size: 14px;
}
.footer-li {
  margin-top: 9px;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 60px;
}

.team {
  left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--whiter-color);
}

.lorem {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.what-to-do-ul {
  display: flex;

  margin: 0px 0px 0px 0px;
}

.to-do-li {
  margin: 0px 0px 0px 30px;
}

.lorem-li {
  flex-basis: ((100%-90px)/4);
}

.lorem-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
}

.lorem-h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
}

.team-li {
  flex-basis: ((100%-90px)/4);
}

.team-figure {
  background: var(--white-color);
  margin: 0px;
}

.portfolio-main {
  top: 174px;
}

/*
.images-portfolio {
  
}*/

.signature-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--silver-color);
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
  margin: 0px;
  border-bottom: 1px solid var(--portfolio-div-color);
  border-left: 1px solid var(--portfolio-div-color);
  border-right: 1px solid var(--portfolio-div-color);
}

.signature {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;

  border-left: 1px solid var(--portfolio-div-color);
  border-right: 1px solid var(--portfolio-div-color);
}

.portfolio-div {
  background: var(--white-color);
}

.job-position {
  font-style: normal;
  font-weight: 400;
  color: var(--silver-color);
}

.signature-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  padding-bottom: 30px;
}

.signature-inside {
  margin-bottom: 10px;
  line-height: 1.19;
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

.figure-image-portfolio {
  padding: 0px;
  margin: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-portfolio-button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px;
  margin-top: 0px;
}
.navigation {
  display: flex;
  padding-top: 32px;
  margin-right: 371px;
  margin-left: 93px;
}
